<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="achivements-section">
        <section class="section-achievements" id="achievements">
            <div class="container">
                <!-- Section Header -->
                <div class="section-title-container">
                    <h2 class="section-title">Achievements</h2>
                    <p class="section-subtitle">
                        A few certifications and recognitions I've earned throughout my journey.
                    </p>
                </div>
                <!-- Achievements Grid -->
                <div class="achievements-grid">
                    <!-- Card 1 -->
                    <div class="achievement-card">
                        <div class="achievement-icon">
                            <i class="fas fa-certificate"></i>
                        </div>
                        <h3 class="achievement-title"><a target="_blank" href="https://drive.google.com/file/d/1_9zQmRoA_t6THpKWwwlORwWwszBNGPh7/view?usp=drive_link">Java Certification</a></h3>
                        <p class="achievement-description">Issued by HackerRank</p>
                    </div>

                    <!-- Card 2 -->
                    <div class="achievement-card">
                        <div class="achievement-icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <h3 class="achievement-title"><a target="_blank" href="https://drive.google.com/file/d/1ly8pAW8Ow-RCRezSC3B3ysxjPUqI6HnY/view?usp=drive_link">SQL Certification</a></h3>
                        <p class="achievement-description">Issued by HackerRank</p>
                    </div>

                    <!-- Card 3 -->
                    <div class="achievement-card">
                        <div class="achievement-icon">
                            <i class="fas fa-code"></i>
                        </div>
                        <h3 class="achievement-title"><a target="_blank" href="https://drive.google.com/file/d/1fIPeldsZy6lXpXEUC7p2g0y-AS1jMsjm/view?usp=drive_link">Web Development Certification</a></h3>
                        <p class="achievement-description">Issued by STP Computer Education</p>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</body>

</html>