<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="project-section">

        <section class="section-projects" id="project">
            <div class="section-title-container">
                <h2 class="section-title">My Projects</h2>
                <p class="section-subtitle">
                    Explore some of the projects I've built and shared on GitHub.
                </p>
            </div>
            <div class="projects-container">
                <!-- Project 1: Retail Management Web App-->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/retail.png" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">SpringBoot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">JWT</span>
                            <span class="project-tag">Razorpay</span>
                            <span class="project-tag">AWS S3</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">React.js</span>
                            <span class="project-tag">Axios</span>
                        </div>
                    </div>

                    <div class="project-content">
                        <h3 class="project-title">Retail Management Web App</h3>
                        <p class="project-description">
                            Developed a full-featured retail POS system supporting billing, inventory, category/item
                            management, and invoices.Designed and implemented modular REST APIs with role-base access
                            and jwt-secured endpoints. Integrated Razorpay for payment processing and AWS S3 for file
                            storage.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/pranjalpatel044/RetailManagementSoftware.git"
                                class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>


                <!-- Project 2: URL Shortener Web App-->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/shortalytics.png" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">SpringBoot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">JWT</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">React.js</span>
                            <span class="project-tag">Tailwind CSS</span>

                        </div>
                    </div>

                    <div class="project-content">
                        <h3 class="project-title">URL Shortener Web App</h3>
                        <p class="project-description">
                            A full-stack URL Shortener Web App built using Spring Boot, React.js, MySQL, and Tailwind
                            CSS that allows users to shorten long URLs, track clicks, and view detailed analytics.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/pranjalpatel044/url-shortener.git" class="project-link"
                                target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <!-- six -->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/yuva_yekta.png" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">SpringBoot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">JPA</span>
                            <span class="project-tag">Razorpay</span>
                            <span class="project-tag">AWS S3</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Postman</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind CSS</span>
                        </div>
                    </div>

                    <div class="project-content">
                        <h3 class="project-title">Yuva Yekta Web App (NGO Website)</h3>
                        <p class="project-description">
                            Youva Yekta Group Website – A full-stack web application built with Spring Boot, React.js,
                            MySQL, and AWS S3 for a social welfare organization. The platform supports role-based
                            authentication, volunteer applications, donations with Razorpay integration, dynamic news &
                            events, and contact management. It features a modern responsive UI with React + Tailwind
                            CSS, secure backend APIs with JWT authentication, and cloud storage with AWS S3 for managing
                            uploaded files and media.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/pranjalpatel044/AI-Email-Writer-Chrome-Extension.git"
                                class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <!-- five -->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/portfolio.png" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">SpringBoot</span>
                            <span class="project-tag">Thymeleaf</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                            <span class="project-tag">JavaScript</span>
                            <span class="project-tag">web3forms API</span>
                        </div>
                    </div>

                    <div class="project-content">
                        <h3 class="project-title">Personal Portfolio Website</h3>
                        <p class="project-description">
                            A modern personal portfolio designed with HTML, CSS, JavaScript, Thymeleaf, SpringBoot.
                            Showcases projects, skills, and contact info with animated sections, floating shapes, and
                            responsive layout. Built for presenting developer skills and GitHub work.

                        </p>
                        <div class="project-links">
                            <a href="https://github.com/pranjalpatel044/AI-Email-Writer-Chrome-Extension.git"
                                class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <!-- three -->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/Retail-meaning.webp" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">SpringBoot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Postman</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Thymeleaf</span>
                        </div>
                    </div>

                    <div class="project-content">
                        <h3 class="project-title">AI Email Writer Chrome Extension</h3>
                        <p class="project-description">
                            A productivity-focused Chrome extension that uses OpenAI’s API to help users write
                            professional emails quickly. Built with React and Spring Boot, offering one-click generation
                            and tone customization.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/pranjalpatel044/AI-Email-Writer-Chrome-Extension.git"
                                class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <!-- four -->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/project-image.png" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">SpringBoot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Postman</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Thymeleaf</span>
                        </div>
                    </div>

                    <div class="project-content">
                        <h3 class="project-title">LeetCode/GFG Premium Simulator with AI</h3>
                        <p class="project-description">
                            A simulation web app that mimics access to premium LeetCode/GFG questions and solutions.
                            Built using React and Spring Boot with OpenAI integration to generate advanced system-level
                            coding challenges and step-by-step AI-powered solutions. Useful for interview preparation
                            and concept mastery.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/pranjalpatel044/AI-Email-Writer-Chrome-Extension.git"
                                class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </section>

    </th:block>

</body>

</html>